.shape--top {
  position: absolute;
  width: 20vw;
  right: 0;
  z-index: -1;
}

.shape--bot {
  position: absolute;
  bottom: 0;
  width: 17vw;
  z-index: -1;
}

.quizzy--intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* @media screen and (max-height: 800px) and (orientation: landscape) {
  .list--container {
    position: static;
    top: unset;
    left: unset;
    transform: none;
    padding: 2em 0;
    width: 700px;
    margin-right: auto;
    margin-left: auto;
  }

  .shape--bot {
    position: static;
    width: 10vw;
    z-index: -1;
  }
} */
